{% extends "admin_base.html" %}

<!-- Change the title -->
{% block title %} Admin {% endblock %}

{% block content %}

<div class="my-5 containerWhite">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>This Is An Admin Page.</h1>
      <br>

      <div id="accordion" class="mb-3">
        <div class="mb-3">
          <div id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#CategoryForm"
                aria-controls="CategoryForm">
                Add Category
              </button>
            </h5>
          </div>

          <div id="CategoryForm" class="collapse my-4" aria-labelledby="headingOne" data-parent="#accordion">
            <form method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="category_name">Category Name</label>
                <input name="category_name" required type="text" class="form-control" id="category_name">
              </div>
              <div class="form-group">
                <label for="category-pic">Category Theme Photo</label>
                <input type="file" class="form-control-file" id="category-pic" name="category_pic">
              </div>
              <button class="btn btn-outline-dark btn-lg btn-block" value="Category" name="Submit"
                type="submit">Submit</button>
            </form>
          </div>
        </div>

        <div>
          <div id="headingTwo">
            <h5 class="mb-3">
              <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#ProductForm"
                aria-controls="ProductForm">
                Add Product
              </button>
            </h5>
          </div>
          <div id="ProductForm" class="collapse my-4" aria-labelledby="headingTwo" data-parent="#accordion">

            <form method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="product_name">Product Name</label>
                <input name="product_name" required type="text" class="form-control" id="product_name">
              </div>

              <div class="form-group">
                <label for="Description">Description</label>
                <textarea name="product_description" class="form-control" id="Description" rows="3" maxlength="499"
                  required></textarea>
              </div>

              <div class="form-group">
                <label for="Category">Category</label>
                <select name="product_category" class="form-control" id="Category">
                  {% for category in categories %}
                  <option value="{{ category.name }}">{{ category.name }}</option>
                  <!-- TODO should return all categories to admin -->
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="product_price">Product Price</label>
                <input name="product_price" type="number" step=".01" class="form-control" id="product_price" required>
              </div>

              <div class="form-group">
                <label for="product-pic">Product Photo</label>
                <input type="file" class="form-control-file" id="product-pic" name="product_pic">
              </div>

              <hr>
              <div class="form-check mb-2">
                <input id="automatic_email" name="automatic_email" type="checkbox" class="form-check-input">
                <label for="automatic_email" class="form-check-label">Send automatic email to all users</label>
              </div>

              <button class="btn btn-outline-dark btn-lg btn-block" value="Product" name="Submit"
                type="submit">Submit</button>
            </form>

          </div>
        </div>

        <div class="mb-3">
          <div id="headingCode">
            <h5 class="mb-0">
              <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#PromoForm"
                aria-controls="PromoForm">
                Add Code
              </button>
            </h5>
          </div>

          <script>
            function generateCode() {
              var result = [];
              var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
              var charactersLength = characters.length;
              for (var i = 0; i < 36; i++) {
                result.push(characters.charAt(Math.floor(Math.random() *
                  charactersLength)));
              }
              $("#code").val(result.join(''));
            }
          </script>
          <div id="PromoForm" class="collapse my-4" aria-labelledby="headingCode" data-parent="#accordion">
            <form method="POST">
              <div class="form-group">
                <label for="discount">Discount</label>
                <input name="discount" required type="number" class="form-control" id="discount">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-10">
                    <label for="code">Promo Code</label>
                    <input name="code" required type="text" class="form-control" id="code">
                  </div>
                  <div class="col-2">
                    <button type="button" class="btn" onclick="generateCode()"><em class="bi bi-arrow-repeat"
                        style="font-size: 2rem;"></em></button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="code_type">Type</label>
                <select name="code_type" class="form-control" id="code_type">
                  <option value="p">Percent</option>
                  <option value="a">Absolute</option>
                </select>
              </div>

              <br>
              <hr>

              <div class="form-check mb-2">
                <input id="automatic_email_promo" name="automatic_email_promo" type="checkbox" class="form-check-input">
                <label for="automatic_email_promo" class="form-check-label">Send automatic email to all users</label>
              </div>

              <button class="btn btn-outline-dark btn-lg btn-block" value="PromoCode" name="Submit"
                type="submit">Submit</button>
            </form>
          </div>
        </div>

        <div>
          <div id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-outline-dark btn-lg btn-block" data-toggle="collapse" data-target="#EmailButtons"
                aria-controls="EmailButtons">
                Send email
              </button>
            </h5>
          </div>

          <div id="EmailButtons" class="collapse my-4" aria-labelledby="headingThree" data-parent="#accordion">
            <form method="POST">
              <div class="form-group">
                <label for="subject">Subject</label>
                <input id="subject" name="subject" type="text">
              </div>

              <div class="form-group">
                <label for="email_content">Content</label>
                <textarea id="email_content" name="email_content"></textarea>
              </div>

              <div class="form-group">
                <label for="p_id">Product id (for targeted)</label>
                <input id="p_id" name="product_id" type="text">
              </div>

              <div class="form-group">
                <button class="btn btn-outline-dark btn-lg btn-block mb-4" type="submit" value="toAll" name="Submit">
                  Email All
                </button>
                <button class="btn btn-outline-dark btn-lg btn-block mb-4" type="submit" value="targeted" name="Submit">
                  Targeted Email
                </button>
                <button class="btn btn-outline-dark btn-lg btn-block" type="submit" value="test" name="Submit">
                  Test Email
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Products -->
    <div class="product-area section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>Products</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="product-info">
              <div class="tab-content" id="myTabContent">
                <!-- Start Single Tab -->
                <div class="tab-pane fade show active" id="man" role="tabpanel">
                  <div class="tab-single">
                    <div class="row">
                      {% for product in products %}
                      <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                        <div class="single-product">
                          <div class="product-img">
                            <a href="/admin/product/{{ product.id }}">
                              <img class="default-img"
                                src="{{ db_session.query(Photo).join(Product).filter(Product.id==product.id).first().address }}"
                                onerror=this.src="../static/images/no-image-icon.png">
                              <img class="hover-img"
                                src="{{ db_session.query(Photo).join(Product).filter(Product.id==product.id).first().address }}"
                                onerror=this.src="../static/images/no-image-icon.png">
                            </a>
                          </div>
                          <div class="product-content">
                            <h3><a href="/admin/product/{{ product.id }}">{{ product.name }}</a></h3>
                            <div class="product-price">
                              <span>{{ product.price }} лв</span>
                              <span class="float-right">
                                <a href="/admin/delete_product/{{ product.id }}"><i class="bi bi-trash" style="color: red"></i></a>
                                <a href="/admin/product/{{ product.id }}"><em class="bi bi-gear-fill"></em></a>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Codes -->
    <div class="product-area section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>Codes</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="product-info">
              <div class="tab-content" id="myTabContent">
                <!-- Start Single Tab -->
                <div class="tab-pane fade show active" id="man" role="tabpanel">
                  <div class="tab-single">
                    <table class="table shopping-summery">
                      <thead>
                        <tr class="main-hading">
                          <th id="CODE">CODE</th>
                          <th id="DISCOUNT">DISCOUNT</th>
                          <th id="REMOVE" class="text-center"><em class="ti-trash remove-icon"></em></th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for code in codes %}
                        <tr>
                          <td class="product-des" data-title="CODE">
                            <p class="product-name">
                              {{ code.code }}
                            </p>
                          </td>
                          <td class="product-des" data-title="DISCOUNT">
                            <p class="product-name">
                              {{ str(code.discount) + "%" if code.code_type == 'p' else "$" + str(code.discount) }}
                            </p>
                          </td>
                          <td class="action" data-title="REMOVE">
                            <a href="#" id="remove_{{ code.id }}">
                              <em class="ti-trash remove-icon"></em>
                            </a>

                            <script type=text/javascript>
                                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                            </script>

                            <script type=text/javascript>
                              $(function() {
                                $('a#remove_{{ code.id }}').bind('click', function() {
                                $.getJSON($SCRIPT_ROOT + '/_remove_code', {
                                  code_id: {{ code.id }}
                                }, function(data) {
                                  console.log(data);
                                  location.reload();
                                });
                                return false;
                                });
                              });
                            </script>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}