<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{% block title %}Title{% endblock %}</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="/static/images/favicon.png">
	<!-- Web Font -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">

	<!-- StyleSheet -->

	<!-- Bootstrap -->
	<!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/css/magnific-popup.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/static/css/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
	<!-- Themify Icons -->
	<link rel="stylesheet" href="/static/css/themify-icons.css">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" href="/static/css/niceselect.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="/static/css/animate.css">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" href="/static/css/flex-slider.min.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/static/css/owl-carousel.css">
	<!-- Slicknav -->
	<link rel="stylesheet" href="/static/css/slicknav.min.css">

	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/responsive.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<!-- <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.bundle.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
		crossorigin="anonymous"></script>


	<style>
		@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
	</style>

	<!-- Additional styles and scripts will go here -->
	{% block head %}
	{% endblock %}
</head>

<body class="js">
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

	<header class="header shop">
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
							<a href="/"><img src="/static/images/Logos/Logo-Shop++.png" alt="logo"></a>
						</div>
						<!--/ End Logo -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
                        <!-- Search Form -->
                        <div class="search-bar-top">
                            <p id="datalist"></p>
                            <div class="search-bar">

                                <select>
                                    <option selected="selected">All Category</option>
                                    <option>watch</option>
                                    <option>mobile</option>
                                    <option>kid’s item</option>
                                </select>
                                <form>
                                    <script type=text/javascript>
                                        $(document).ready(function(){
                                            $("input").on("input", function(){
                                                s_text = $("input[name='search']").val()
                                                // console.log($(this))
												if (s_text.length < 3) return false;
                                                $.getJSON($SCRIPT_ROOT + '/_livesearch', {
                                                    text: s_text,
                                                }, function(data) {
                                                    // $("#search_results").text(data.result);
                                                    console.log(data)
                                                });
                                                return false;
                                            });
                                        });
                                        </script>
                                    <input name="search" placeholder="Search Products Here....." type="text" id="tags">
                                    <button class="btnn"><i class="ti-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!--/ End Search Form -->
                    </div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar shopping">
								<a href="/login" class="single-icon"><i class="fa fa-user-circle-o"
										aria-hidden="true"></i></a>
								<div class="shopping-item">

									<ul>
										{% if 'login_id' not in current_user.__dict__ %}
										<li>
											<a href="/login">Sign in</a>

										</li>
										<li>
											<a href="/register">Sign up</a>

										</li>
										{% else %}
										<li>
											<a href="/logout">Log out</a>
										</li>
									</ul>
									{% endif %}
								</div>
							</div>
							<div class="sinlge-bar shopping">
								<a href="/cart" class="single-icon"><i class="ti-bag"></i> <span
										class="total-count">2</span></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>2 Items</span>
										<a href="/cart">View Cart</a>
									</div>
									<ul class="shopping-list">
										<li>
											<a href="#" class="remove" title="Remove this item"><i
													class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70"
													alt="#"></a>
											<h4><a href="#">Woman Ring</a></h4>
											<p class="quantity">1x - <span class="amount">$99.00</span></p>
										</li>
										<li>
											<a href="#" class="remove" title="Remove this item"><i
													class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70"
													alt="#"></a>
											<h4><a href="#">Woman Necklace</a></h4>
											<p class="quantity">1x - <span class="amount">$35.00</span></p>
										</li>
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">$134.00</span>
										</div>
										<a href="/checkout" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Content will go here -->
	{% block content %}
	{% endblock %}

	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="/"><img src="/static/images/Logos/Logo-Shop++8.png" alt="#"></a>
							</div>
							<p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, magna
								eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor,
								facilisis luctus, metus.</p>
							<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456
										789</a></span></p>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="/contact">Contact Us</a></li>
								<li><a href="#">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>NO. 342 - London Oxford Street.</li>
									<li>012 United Kingdom.</li>
									<li>info@eshop.com</li>
									<li>+032 3456 7890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-twitter"></i></a></li>
								<li><a href="#"><i class="ti-flickr"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2021 <a href="http://www.wpthemesgrid.com" target="_blank">Elsys</a> -
									All Rights Reserved.</p>
								<a href="/admin" class="single-icon"><i class="bi bi-shield-lock" aria-hidden="true"
										style="color: #ffffff;"></i></a>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="right">
								<img src="/static/images/payments.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->

	<!-- Jquery -->
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/jquery-migrate-3.0.0.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="../static/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="../static/js/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="../static/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="../static/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="../static/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="../static/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="../static/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="../static/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="../static/js/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="../static/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="../static/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="../static/js/easing.js"></script>
	<!-- Active JS -->
	<script src="../static/js/active.js"></script>
</body>

</html>