{% extends "base.html" %}

<!-- Change the title -->
{% block title %} Product details {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/rating.css">
{% endblock %}

{% block content %}


<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<div class="my-5 containerWhite">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1>{{ product.name }}</h1>
            <br>

            <div class="col-10">
                <div class="single-product">
                    <div class="product-img">
                        <a>
                            <img class="default-img"
                                src="{{ db_session.query(Photo).join(Product).filter(Product.id==product.id).first().address }}"
                                onerror=this.src="../static/images/no-image-icon.png"
                                alt="">
                            <img class="hover-img" src="{{ db_session.query(Photo).join(Product).filter(Product.id==product.id).first().address }}"
                                onerror=this.src="../static/images/no-image-icon.png"
                                alt="">
                        </a>
                        <div class="button-head">
                            <div class="product-action">
                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#">
                                    <em class=" ti-eye"></em>
                                    <span>Quick Shop</span>
                                </a>
                                <a title="Wishlist" href="#" id="wish_{{ product.id }}">
                                    <em class=" ti-heart "></em>
                                    <span>Add to Wishlist</span>
                                </a>
                                <a title="Compare" href="#">
                                    <em class="ti-bar-chart-alt"></em>
                                    <span>Add to Compare</span>
                                </a>
                            </div>
                            <div class="product-action-2">
                                <a title="Add to cart" href="#" id="cart_{{ product.id }}">Add to cart</a>
                                <span id="result_{{ product.id }}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3><a href="/product/{{ product.id }}">{{ product.name }}</a></h3>
                        <div class="product-price">
                            <span>${{ product.price }}</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-6">
            <script type=text/javascript>
                $(function() {
                    $('a#cart_{{ product.id }}').bind('click', function() {
                    $.getJSON($SCRIPT_ROOT + '/_add_to_cart', {
                        product_id: {{ product.id }}
                    }, function(data) {
                        $("#result_{{ product.id }}").text(data.result);
                        var count = $("#total-count").text();
                        $("#total-count").text(parseInt(count) + 1);

                    });
                    return false;
                    });

                    $(function() {
                        $('a#wish_{{ product.id }}').bind('click', function() {
                        $.getJSON($SCRIPT_ROOT + '/_add_to_wishlist', {
                            product_id: {{ product.id }}
                        }, function(data) {
                            $("#result_{{ product.id }}").text(data.result);
                        });
                        return false;
                        });
                    });
                });
            </script>
            <div class="form-group">
                <label for="Category">Category</label>
                <h5> {{ product.category.name }} </h5>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <h5> {{ product.description }} </h5>
            </div>
            <div class="form-group">
                <label for="product_price">Product Price</label>
                <h4> {{ product.price }} $</h4>
            </div>
            <br>

            <script>
                $(document).ready(function() {
                  // Gets the span width of the filled-ratings span
                  // this will be the same for each rating
                  var star_rating_width = $('.fill-ratings span').width();
                  // Sets the container of the ratings to span width
                  // thus the percentages in mobile will never be wrong
                  $('.star-ratings').width(star_rating_width);
                });
            </script>

            <script>
                window.onload = function() {
                    var rating_percentage = 0;
                    var all_stars = {{ current_product_all_stars }};
                    var all_people = {{ current_product_all_people }};
                    rating_percentage = all_stars / 5;
                    rating_percentage = rating_percentage * 100 / all_people;
                    document.getElementById('fill-ratings1').style.width = rating_percentage + "%";
                    document.getElementById('rating-text-over-stars').innerHTML = Math.round(rating_percentage) ? rating_percentage + "%" + " like this product" : "Be the first to review this product";
                };
            </script>

            <div class="form-group">
                <div id="rating-text-over-stars" style="color: #3F3F3F; font-size: 14px;">
                  </div>
                <div class="star-ratings">
                  <div class="fill-ratings" id="fill-ratings1">
                    <span>★★★★★</span>
                  </div>
                  <div class="empty-ratings">
                    <span>★★★★★</span>
                  </div>
                </div>
            </div>


            <!-- Button trigger modal -->
            <div class="single-widget get-button">
                <div class="content">
                    <!-- Button Widget -->
                    <div class="single-widget get-button">
                        <div class="content">
                            <button class="button btn" id="leave-rating-button" type="button" data-target="#RatingModal" data-toggle="modal" style="z-index: auto; color: #0b0b0b">
                                Leave a rating
                            </button>
                        </div>
                    </div>
                    <!--/ End Button Widget -->
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="RatingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="rating-text">
                        <h1 class="modal-title" id="ratingModalLabel" >Rate this product</h1>
                    </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body rating-body">
                    <!-------- modal body ------->
                        <div class="container d-flex justify-content-center mt-200">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="stars">
                                        <form id="ratingForm" method="post" action="/product/{{ product.id }}/_add_rating">
                                            <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
                                            <label class="star star-5" for="star-5"></label>
                                            <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
                                            <label class="star star-4" for="star-4"></label>
                                            <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                                            <label class="star star-3" for="star-3"></label>
                                            <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
                                            <label class="star star-2" for="star-2"></label>
                                            <input class="star star-1" id="star-1" type="radio" name="star" value="1" required/>
                                            <label class="star star-1" for="star-1"></label>

                                            <div class="form-group text-center">
                                                <label for="exampleFormControlTextarea1">Comment on your experience</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" name="rating_comment" rows="3"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-------- modal body END ------->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="ratingForm" class="btn btn-warning" style="background-color: #fca842">Rate</button>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
                <label for="product-pic">Product Photos</label>
                <img src="{{ product.photo }}">
            </div>
            <button class="btn btn-outline-dark btn-lg btn-block" id="cart_{{ product.id }}">Add to cart</button>
            <span id="result_{{ product.id }}"></span>
            <button class="btn btn-outline-dark btn-lg btn-block" id="wish_{{ product.id }}">Add to wishlist</button>
        </div>
    </div>

    {% if recomendations %}
    <div class="row justify-content-center">
        <h1>Recomendations</h1>
    </div>
    <div class="row justify-content-center">
        {% for rec in recomendations %}
        <div class="col-xl-3 col-lg-4 col-md-4 col-12">
            <div class="single-product">
                <div class="product-img">
                    <a href="/product/{{ rec[1] }}">
                        <img class="default-img"
                            src="{{ db_session.query(Photo).join(Product).filter(Product.id==rec[1]).first().address }}"
                            onerror=this.src="../static/images/no-image-icon.png"
                            alt="">
                        <img class="hover-img"
                            src="{{ db_session.query(Photo).join(Product).filter(Product.id==rec[1]).first().address }}"
                            onerror=this.src="../static/images/no-image-icon.png"
                            alt="">
                    </a>
                    <div class="button-head">
                        <div class="product-action">
                            <a data-toggle="modal" data-target="#exampleModal"
                                title="Quick View" href="#">
                                <em class=" ti-eye"></em>
                                <span>Quick Shop</span>
                            </a>
                            <script type=text/javascript>
                                $(function() {
                                    $('a#wish_{{ rec[1] }}').bind('click', function() {
                                    $.getJSON($SCRIPT_ROOT + '/_add_to_wishlist', {
                                        product_id: {{ rec[1] }}
                                    }, function(data) {
                                        $("#result_{{ rec[1] }}").text(data.result);
                                    });
                                    return false;
                                    });
                                });
                            </script>
                            <a title="Wishlist" id="wish_{{ rec[1] }}" href="#">
                                <em class=" ti-heart "></em>
                                <span>Add to Wishlist</span>
                            </a>
                            <a title="Compare" href="#">
                                <em class="ti-bar-chart-alt"></em>
                                <span>Add to Compare</span>
                            </a>
                        </div>
                        <div class="product-action-2">
                            <script type=text/javascript>
                                $(function() {
                                    $('a#cart_{{ rec[1] }}').bind('click', function() {
                                    $.getJSON($SCRIPT_ROOT + '/_add_to_cart', {
                                        product_id: {{ rec[1] }}
                                    }, function(data) {
                                        $("#result_{{ rec[1] }}").text(data.result);
                                    });
                                    return false;
                                    });
                                });
                            </script>
                            <a title="Add to cart" href="#"
                                id="cart_{{ rec[1] }}">Add to
                                cart</a>
                            <span id="result_{{ rec[1] }}"></span>
                        </div>
                    </div>
                </div>
                <div class="product-content">
                    <h3>{{ Product.query.filter_by(id=rec[1]).first().name }}</h3>
                    <div class="product-price">
                        <span>{{ Product.query.filter_by(id=rec[1]).first().price }} лв</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}